<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Trash</title>
  <link rel="stylesheet" href="/css/admin_trash.css">
</head>
<body>
  <div class="sidebar">
    <div class="logo">
      <img src="/images/nbi_logo.png" alt="Logo" />
    </div>
    <nav>
      <ul>
        <li><a href="/admin-dashboard" ><i class="nav-item nav-link"></i> Dashboard</a></li>
        <li><a href="/admin-users"><i class="nav-item nav-link"></i> Users</a></li>
        <li><a href="/admin-upload"><i class="nav-item nav-link"></i> Upload</a></li>
        <li><a href="/admin-notification"><i class="nav-item nav-link"></i> Notification</a></li>
        <li><a href="/admin-activity" class="active"><i class="nav-item nav-link"></i> Activity</a></li>
        <li><a href="/admin-trash"><i class="nav-item nav-link"></i> Trash</a></li>
        <li><a href="/profile"><i class="nav-item nav-link"></i> Profile</a></li>
      </ul>
    </nav>
    <div class="logout">
        <a href="/logout"></a>
      <button>Log Out</button>
    </div>
  </div>
</body>
</html>
