/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    background: url('/images/nbi_bg.jpg') no-repeat center center/cover;
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

/* Overlay */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

/* Container */
.container {
    z-index: 2;
    max-width: 500px;
    width: 100%;
    max-height: 80vh; 
    overflow-y: auto;
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(94, 93, 93, 0.1);
    margin: 100px auto;
}

h2 {
    text-align: center;
    color: #000;
    margin-bottom: 1em;
}

/* Logo and Header */
.logo-icon {
    display: block;
    margin: 0 auto 15px;
    width: 190px;
    height: 100px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #000;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"],
select {
    width: 100%;
    padding: 0.8em;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
    margin-bottom: 1em;
    box-sizing: border-box;
}

input:focus,
select:focus {
    border-color: #007bff;
    outline: none;
}

.btn {
    width: 100%;
    padding: 0.8em;
    background-color: #3498db;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
}

.btn:hover {
    background-color: #2980b9;
}

p {
    text-align: center;
    color: #34495e;
    margin-top: 1.5em;
}

a {
    color: #3498db;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Error Styles */
.error-message {
    color: red;
    font-size: 0.9em;
    margin-top: 5px;
}
